<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<table width=100% cellpadding=12 cellspacing=0 border=0>
<tr><td>
<div style="overflow: hidden;"><font size=-1>Cet article vous est suggéré par : <%=@email.nom%> (<a href="mailto:<%=@email.email%>"><%=@email.email%></a>)<br />
<br />
<a href="<%=@email.article.myfullurl(3000)%>" data-saferedirecturl="https://www.google.com/url?hl=fr&amp;q=<%=@email.article.myfullurl(3000)%>&amp;source=gmail&amp;ust=1647868383953000&amp;usg=AOvVaw2BH5vivnZPc4T1FFlrPxt1" rel="noreferrer" target="_blank"><%=@email.article.myfullurl(3000)%></a><br />
<br />
<%=@email.message%><br />
</font></div>

</td>
</tr>
</table>
  </body>
</html>