<div class="left" style="margin-right:0; width:237px">
<div style="margin: 0 auto; width:180px">
<a href="javascript:void(0)" rel="nofollow" onclick="recharge('content_photo_galerie', '/mymodule/5601812/', null, 'ajax=true&amp;java=false&amp;show=content_photo&amp;w=793&amp;&amp;id_photo=<%=photo.id_photo%>&amp;POST_URI=<%=u(photo.album.myurl)%>')" class="not-responsive vignette_scroll" style="background:url(<%=photo.crop%>?v=1581418869) no-repeat center center">&nbsp;</a>
<a href="javascript:void(0)" rel="nofollow" onclick="recharge('content_photo_galerie', '/mymodule/5601812/', null, 'ajax=true&amp;java=false&amp;show=content_photo&amp;w=793&amp;&amp;id_photo=<%=photo.id_photo%>&amp;POST_URI=<%=u(photo.album.myurl)%>')" class="vignette_scroll responsive" style="display:none;background:url(<%=photo.petiteimage%>?v=1581418869) no-repeat center center">&nbsp;</a>
</div>
</div>