<div class="pj">
				 <img src="/myarticles_files/icon_<%=pj.mytype%>.gif" alt="<%=pj.filename%>" class="image">
				 <a class="pj" target="_blank" href="/attachment/<%=pj.id%>/"><%=pj.name%></a>
				 <span>&nbsp;(<%=number_to_human_size(pj.filesize)%>)</span>
				 <br>
			 </div>