<div class="z_colonne main-colonne" id="z_col2">
<div class="z_col_median z_col2_inner z_col_fullheight">
<div id="breads" class="breadcrump breadcrumbs">
	 <a href="https://www.saintlaurentdumaroni.fr/">Accueil</a>
	 <span class="sepbread">&nbsp;&gt;&nbsp;</span>
	 <a href="/search/?avance=1">Recherche</a>
	 <div class="clear separate"><hr /></div>
</div>
<div id="mod_5601816" class="mod_5601816 wm-module fullbackground  page2_recherche">
	 <div class="entete"><div class="fullmod">
		 <span>Résultats recherche</span>
	 </div></div>
	 <%=render "formadvancedsearchart", article: @article%>
	 <div class="cel1">
		 <div class="rubrique"><%=@results.length%> <%="Résultat".pluralize(@results.length)%> pour votre recherche : <%=@article.keyword%></div>
	 </div>
		 <br class="rubrique" />
	 <%=render collection: @results, partial: "advancedsearchartresult", as: :article%>
	 <%=render "searchform"%>
	 <div class="cel1 forpager">
		 <%=render "mypager", list: @results%>
	 </div>
</div>
<div id="ecart_after_5601816" class="ecart_col2"><hr /></div>
<div class="homecrump center">
	 <div class="clear separate"><hr /></div>
	 <a href="https://www.saintlaurentdumaroni.fr/"><img src="https://www.saintlaurentdumaroni.fr/photo/bt_home.png?v=1349942074" class="image" alt="" title=""  /></a>
</div>
</div>
</div>

<%=content_for :title do%>
<%=@article.keyword.capitalize%> | Recherche | 
<%end%>


<%=content_for :mysheet do%>
<link href="/style.5601816.css" rel="stylesheet" type="text/css">

<%end%>