<div class="z_colonne main-colonne" id="z_col2">
<div class="z_col_median z_col2_inner z_col_fullheight" style="height: 1912px;">

<!-- page2_plan 5601815 -->
<div id="mod_5601815" class="mod_5601815 wm-module fullbackground ">
	 <div class="entete"><div class="fullmod">
		 <span>Plan du site</span>
	 </div></div>
	 <div class="cel1">
		 <div class="inner">
			 <ul class="plan left">
				 <li class="titre">Plan du site</li>
			 <li class="rubrique">
				 
				 <a href="/La-mairie_r2.html">La mairie</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Le-Maire-et-ses-elus_r4.html">Le Maire et ses élus</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Les-services-municipaux_r5.html">Les services municipaux</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Recrutement_r86.html">Recrutement</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Conseil-Municipal_r217.html">Conseil Municipal</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/La-parole-a-l-Opposition_r271.html">La parole à l'Opposition </a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Consultation-pour-travaux_r287.html">Consultation pour travaux</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Proces-Verbaux-des-Conseils-Municipaux_r296.html">Procès Verbaux des Conseils Municipaux</a>
			 </li>
			 <li class="rubrique">
				 
				 <a href="/Vie-pratique_r16.html">Vie pratique</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Se-loger_r220.html">Se loger</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Se-soigner_r222.html">Se soigner</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Sante-Numeros-utiles_r292.html">Santé - Numéros utiles</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Se-deplacer_r223.html">Se déplacer</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Services-publics_r224.html">Services publics</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Tourisme_r238.html">Tourisme</a>
			 </li>
			 <li class="rubrique">
				 
				 <a href="/Culture-Patrimoine_r252.html">Culture/Patrimoine</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Histoire-Patrimoine_r276.html">Histoire &amp; Patrimoine</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Art-Expositions_r277.html">Art &amp; Expositions</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Lecture_r278.html">Lecture</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Bibliotheque-Municipale-Icek-Baron_r288.html">Bibliothèque Municipale Icek Baron</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Musique-Danse_r279.html">Musique &amp; Danse</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Cinema-Theatre_r280.html">Cinéma &amp; Théâtre</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Activites-culturelles_r281.html">Activités culturelles</a>
			 </li>
			 <li class="rubrique">
				 
				 <a href="/Sport_r253.html">Sport</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Equipements-Municipaux_r260.html">Equipements Municipaux</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Evenements-Sportifs_r274.html">Evénements Sportifs</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Activites-Sportives_r275.html">Activités Sportives</a>
			 </li>
			 <li class="rubrique">
				 
				 <a href="/Amenagement-urbain_r242.html">Aménagement urbain</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Travaux-et-projets_r267.html">Travaux et projets</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Plan-Local-d-Urbanisme_r266.html">Plan Local d'Urbanisme</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Formulaires-et-dossiers-a-telecharger_r248.html">Formulaires et dossiers à télécharger</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Action-Coeur-de-Ville_r293.html">Action Coeur de Ville</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/NPNRU_r294.html">NPNRU</a>
			 </li>
			 <li class="rubrique">
				 
				 <a href="/Economie-Emploi_r234.html">Economie/Emploi</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Economie_r283.html">Economie</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Emploi_r284.html">Emploi</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Insertion_r285.html">Insertion</a>
			 </li>
			 <li class="rubrique">
				 
				 <a href="/Education_r254.html">Education</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Maternelle-et-elementaire_r261.html">Maternelle et élementaire</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/College-et-Lycee_r262.html">Collège et Lycée</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Enseignement-superieur-Formation_r263.html">Enseignement supérieur/ Formation</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Periscolaire_r282.html">Périscolaire</a>
			 </li>
			 <li class="rubrique">
				 
				 <a href="/Citoyennete_r21.html">Citoyenneté</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Proprete-urbaine_r243.html">Propreté urbaine</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Vie-citoyenne_r211.html">Vie citoyenne</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Tranquilite-urbaine_r246.html">Tranquilité urbaine</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Election_r31.html">Election </a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Recensement_r295.html">Recensement</a>
			 </li>
			 <li class="rubrique">
				 
				 <a href="/Associations_r28.html">Associations</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Repertoire-des-associations_r206.html">Répertoire des associations</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Associations-sportives_r290.html">Associations sportives</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Associations-culturelles_r291.html">Associations culturelles</a>
			 </li>
			 <li class="srubrique">
				 &nbsp;&nbsp;&nbsp;&nbsp;
				 <img class="image middle nomargin" src="./sitemap_files/arrow21.gif" alt=""> 
				 <a href="/Vie-associative_r286.html">Vie associative</a>
			 </li>
			 </ul>
			 <ul class="plan left">
				 <li class="titre">Webservices</li>
				 <li class="webservice">
					 <a href="/newsletter/">Dialogue newsletter</a>
				 </li>
				 <li class="webservice">
					 <a href="/gmap/">Google Map</a>
				 </li>
				 <li class="webservice">
					 <a href="/videos/">Video</a>
				 </li>
				 <li class="webservice">
					 <a href="/agenda/">Agenda</a>
				 </li>
				 <li class="webservice">
					 <a href="/classifieds/">Petites annonces</a>
				 </li>
				 <li class="webservice">
					 <a href="/index.php?actions=rubrique">Navigation</a>
				 </li>
				 <li class="webservice">
					 <a href="/index.php?actions=article">Page</a>
				 </li>
				 <li class="webservice">
					 <a href="/tags/">Tags</a>
				 </li>
				 <li class="webservice">
					 <a href="/shop/">Boutique</a>
				 </li>
				 <li class="webservice">
					 <a href="/notes/">Les brèves</a>
				 </li>
				 <li class="webservice">
					 <a href="/index.php?actions=commentaire">Commentaires</a>
				 </li>
				 <li class="webservice">
					 <a href="/faq/">Foire aux questions</a>
				 </li>
				 <li class="webservice">
					 <a href="/forum/">Forum</a>
				 </li>
				 <li class="webservice">
					 <a href="/photos/">Galerie</a>
				 </li>
				 <li class="webservice">
					 <a href="/glossary/">Glossaire</a>
				 </li>
				 <li class="webservice">
					 <a href="/subscription/">Inscription au site</a>
				 </li>
				 <li class="webservice">
					 <a href="/search/">Résultats recherche</a>
				 </li>
				 <li class="webservice">
					 <a href="/links/">Annuaire</a>
				 </li>
				 <li class="webservice">
					 <a href="/submit/">Page de soumission</a>
				 </li>
				 <li class="webservice">
					 <a href="/downloads/">Téléchargements</a>
				 </li>
				 <li class="webservice">
					 <a href="/index.php?actions=print">Page impression</a>
				 </li>
			 </ul>
			 <br class="clear">
			 <ul class="plan">
				 <li class="titre"><br>Les 20 derniers articles</li>
				 <%@articles.each do |article|%>
                                <li class="srubrique">
				 <img class="image middle nomargin" src="/sitemap_files/arrow21.gif" alt=""> 
					 <a href="<%=article.myurl%>"><%=article.titre%></a>
				 </li>
				 <%end%>
			 </ul>
		 </div>
	 </div>
</div>
<div id="ecart_after_5601815" class="ecart_col2"><hr></div>
<div class="homecrump center">
	 <div class="clear separate"><hr></div>
	 <a href="/"><img src="./sitemap_files/bt_home.png" class="image" alt="" title=""></a>
</div>
</div>
</div>
<%=content_for :mysheet do%>
<link rel="stylesheet" href="/sitemap_files/style.5601815.css" type="text/css">

<%end%>
<%=content_for :overlay do%>
<div class="overlay" id="overlay" style="visibility: visible; z-index: 1000; width: 400px; height: 250px; background-image: url(&quot;/_images/icones/ibox_loading.png&quot;); background-repeat: no-repeat; background-position: center center; top: 15px; left: 288px; position: fixed; display: none;"><span id="ibox_close_perso" class="close" style="display: none;"></span><img id="ibox_close" class="close" src="/_images/icones/ibox_close.png" style="display: none;"><div class="contentWrap" style="visibility: visible;"><img src="" alt="" width="144" height="205" onclick="hideIbox()"></div></div>
<div id="overlay-opacity"></div>
<a rel="#overlay"></a>
<div   onclick="$(overlay).toggle();$(exposeMask).toggle();return false;" id="exposeMask" style="position: absolute; top: 0px; left: 0px; width: 1090px; height: 1441px; display: none; opacity: 0; z-index: 9998; background-color: rgb(0, 0, 0);"></div>
<%end%>
<%=content_for :mapgoogle do%>
<script src="/js/compress_jquery.ibox.js"></script>
<script src="/js/jquery.tools-1.2.7.min.js?v=1383207878" type="text/javascript"></script>

<%end%>
<%=content_for :myglider do%>
if ($('#my-glider5601812').length) var my_glider5601812 = $('#my-glider5601812 div.content').bxSlider({pager: false,controls: false});

<%end%>