<div id="z_colfull">
<div class="z_colfull_inner">
<div id="breads" class="breadcrump breadcrumbs">
	 <a href="https://www.megazap.fr/">Accueil</a>
	 <span class="sepbread">&nbsp;&gt;&nbsp;</span>
	 <a href="/social/">Réseau social</a>
	 <span class="sepbread">&nbsp;&gt;&nbsp;</span>
	 <a href="/index.php?action=social_membre"></a>
	 <div class="clear separate"><hr /></div>
</div>
 <div id="mod_5601793" class="mod_5601793 wm-module fullbackground  module-page2_social">
	 <div class="cel1" style="position:static">
			 <div class="tabs">
				 <ul>
					 <li id="li_wall"><a href="/social/">Activités</a></li>
					 <li id="li_membre" class="selected"><a href="/social/list/">Membres</a></li>
					 <li id="li_profil"><a href="/social/<%=current_user.id%>/">Mon profil</a></li>
					 <li class="li_search" style="float:right;margin:0;padding:0">
						 <form action="/social/list/?order=" method="get" onsubmit="document.getElementById('snskey_safe_5601793').focus();this.removeChild(document.getElementById('snskey_safe_5601793'))">
							 <input type="text" class="button search" style="" id="snskey_safe_5601793" name="snskey_safe_5601793" value="" onfocus="this.style.display='none'; document.getElementById('snskey_5601793').style.display='inline'; document.getElementById('snskey_5601793').focus()" />
							 <input type="text" class="button search" style="display:none" id="snskey_5601793" name="snskey" value="" onblur="if (this.value == '') {this.style.display='none'; document.getElementById('snskey_safe_5601793').style.display='inline';}" />
							 <input type="image" src="/_images/icones/ok_5.png?v=1213798463" alt="OK" title="OK" />
						 </form>
					 </li>
				 </ul>
				 <div class="clear"></div>
			 </div>
			 <div class="view-membre">
		 <div class="inner_tabs">
			 <div class="inner_tabs_membre">
			 <div class="pave_membre">
			 <div class="membre membre_photo">
				 <img src="<%if @user.image%>/userfiles/<%=@user.image%>?v=<%else%>/_images/social/inconnu_o.jpg<%end%>" width="180" height="180" alt="<%=@user.fullname%>" title="<%=@user.fullname%>" />
			 </div>
			 <div class="menu left" id="follow_me_<%=@user.id%>">
 <%if user_signed_in? && !@user.followers.include?(current_user)%>
			 <a href="javascript:void(0)" rel="nofollow" onclick="recharge_async('follow_me_<%=@user.id%>', '/mymodule/5601793/', 'ajax=true&amp;java=false&amp;start=0&amp;follow=<%=@user.id%>&amp;REQUEST_URI=social')">Suivre</a>
&nbsp;|
                                                 <%elsif user_signed_in?%>
			 <a href="javascript:void(0)" rel="nofollow" onclick="recharge_async('follow_me_<%=@user.id%>', '/mymodule/5601793/', 'ajax=true&amp;java=false&amp;start=0&amp;unfollow=<%=@user.id%>&amp;REQUEST_URI=social')">Ne plus suivre</a>
					 &nbsp;|
                                                 <%end%></div>
				 <div class="menu"> <a href="/social/compose/?send_to=<%=@user.id%>">Me contacter</a></div>
			 <div class="clear"></div>
<%if current_user.followers.length > 0%>
                         <div class="membre membre_content">
				 <div class="menu">Suivi(e) par (<%=current_user.followers.length%>)</div>
				 <div class="infos">
<%=render partial: "userimage", collection: current_user.followers, as: :user%>				 </div>
			 </div>
                         <%end%>
			 </div>
			 <div id="pave_membre_detail" class="pave_membre_detail">
			 <div class="bloc_bottom">
			 <div class="left titre"><a href="/social/<%=@user.id%>/"><%=@user.fullname%></a></div>
			 <div class="clear"></div>
			 <div class="menu">
				 <a class="selected" href="/social/<%=@user.id%>/">Activités</a>
				 <span> | </span>
				 <a class="menu" href="/social/<%=@user.id%>/info/">Infos</a>
			 </div>
			 <div class="sep2"></div>
			 <div class="ssmenu left">
				 <a href="/social/<%=@user.id%>/forum/">Forum (<%=(@user||current_user).nbunreadforums%>)</a>
			 </div>
			 <div class="ssmenu right">
				 <a href="/social/<%=@user.id%>/" class="<%=!params[:show] ? "selected" : ""%>">Liste</a>
				 <span> | </span>
				 <a href="/social/<%=@user.id%>/?show=m" class="<%=params[:show] ? "selected" : ""%>">Mosaique</a>
			 </div>
			 <div class="clear"></div>
			 </div>
			 <div class="bloc">
			<!--news -->
		 </div><%if @news.length > 0%>
				<%@news.each do |date,item|%>
				 				 <%=render "newsdate#{params[:show]}", date: date%>

			 <%item.each do |mypartial,itemname,item| %>
                        <%=render mypartial+"#{params[:show]}", :"#{itemname}" => item%> 
                        <%end%>
                    <%end%>
                    <%else%>
                        Aucune activité trouvée.
                    <%end%>
			 </div>
			 <div class="clear"></div>
			 </div>
		 </div>
			 </div>
	 </div>
</div>
<div class="ecart_colfull"><hr /></div>
</div>
</div>