<div id="z_colfull">
<div class="z_colfull_inner">
<div id="breads" class="breadcrump breadcrumbs">
	 <a href="/">Accueil</a>
	 <span class="sepbread">&nbsp;&gt;&nbsp;</span>
	 <a href="/social/">Réseau social</a>
	 <span class="sepbread">&nbsp;&gt;&nbsp;</span>
	 <a href="/index.php?action=social_membre"></a>
	 <div class="clear separate"><hr /></div>
</div>
 <div id="mod_5601793" class="mod_5601793 wm-module fullbackground  module-page2_social">
	 <div class="cel1" style="position:static">
			 <div class="tabs">
				 <ul>
					 <li id="li_wall"><a href="/social/">Activités</a></li>
					 <li id="li_membre"><a href="/social/list/">Membres</a></li>
					 <li id="li_profil" class="selected"><a href="/social/<%=current_user.id%>/">Mon profil</a></li>
					 <li class="li_search" style="float:right;margin:0;padding:0">
						 <form action="/social/list/?order=" method="get" onsubmit="document.getElementById('snskey_safe_5601793').focus();this.removeChild(document.getElementById('snskey_safe_5601793'))">
							 <input type="text" class="button search" style="" id="snskey_safe_5601793" name="snskey_safe_5601793" value="" onfocus="this.style.display='none'; document.getElementById('snskey_5601793').style.display='inline'; document.getElementById('snskey_5601793').focus()" />
							 <input type="text" class="button search" style="display:none" id="snskey_5601793" name="snskey" value="" onblur="if (this.value == '') {this.style.display='none'; document.getElementById('snskey_safe_5601793').style.display='inline';}" />
							 <input type="image" src="/_images/icones/ok_5.png?v=1213798463" alt="OK" title="OK" />
						 </form>
					 </li>
				 </ul>
				 <div class="clear"></div>
			 </div>
			 <div class="view-membre">
		 <div class="inner_tabs">
			 <div class="inner_tabs_membre">
			 <div class="pave_membre">
			 <div class="membre membre_photo">
				 <%if current_user.image%><a id="profil_photo" href="javascript:void(0)" rel="nofollow" onclick="showIbox('/mymodule/24606308/?type=3&amp;ajax=true&amp;java=false&amp;iboxaction=photo');"> 				 <img src="/userfiles/<%=current_user.image%>?v=1649937189" width="180" height="180" alt="Cliquer ici pour recadrer la photo" title="Cliquer ici pour recadrer la photo" /> </a> <%else%>	<a id="profil_photo" href="javascript:void(0)" rel="nofollow" onclick="showIbox('/mymodule/5601793/?type=3&amp;ajax=true&amp;java=false&amp;iboxaction=photo');"><img src="<%if current_user.image%>/userfiles/<%=current_user.image%>?v=<%else%>/_images/social/inconnu_o.jpg<%end%>" width="180" height="180" alt="Ajoutez une photo à votre profil" title="Ajoutez une photo à votre profil"> </a><%end%>
			 </div>
			 <div class="menu">
				 <a href="/social/<%=current_user.id%>/param/">Paramètres</a>
				 <span>|</span>
				 <a href="javascript:void(0)" rel="nofollow" onclick="showIbox('/mymodule/5601793/?type=3&amp;ajax=true&amp;java=false&amp;iboxaction=photo');" title="Ajoutez une photo à votre profil">Photo</a>
			 </div>
			 <div id="social_menu_special"></div>
			 <div id="about_<%=current_user.id%>" class="membre membre_content">
				 <%if current_user.description%><%=current_user.description%> <a href="javascript:void(0)" rel="nofollow" onclick="recharge('about_<%=current_user.id%>', '/mymodule/5601793/', 'document.getElementById(&quot;textarea_about_<%=current_user.id%>&quot;).focus()', 'ajax=true&amp;java=false&amp;edit_about=1')" title="Cliquer pour éditer" class="about texte">Editer...</a><%else%><a href="javascript:void(0)" rel="nofollow" onclick="recharge('about_<%=current_user.id%>', '/mymodule/5601793/', 'document.getElementById(&quot;textarea_about_<%=current_user.id%>&quot;).focus()', 'ajax=true&amp;java=false&amp;edit_about=1')" title="Cliquer pour éditer" class="about texte">Ecrivez quelque chose à propos de vous...</a><%end%>
			 </div>
                         <%if current_user.followedpeople.length > 0%>
                         <div class="membre membre_content">
				 <div class="menu">Personnes suivies (<%=current_user.followedpeople.length%>)</div>
				 <div class="infos">
<%=render partial: "userimage", collection: current_user.followedpeople, as: :user%>				 </div>
			 </div>
                         <%end%>

			 </div>
			 <div id="pave_membre_detail" class="pave_membre_detail">
			 <div class="bloc_bottom">
			 <div class="left titre"><a href="/social/<%=current_user.id%>/"></a></div>
			 <div class="right menu"><a href="/logout/">Se déconnecter</a></div>
			 <div class="clear"></div>
			 <div class="menu">
				 <a class="selected" href="/social/<%=current_user.id%>/">Activités</a>
				 <span> | </span>
				 <a class="menu" href="/social/<%=current_user.id%>/info/">Infos</a>
				 <span> | </span>
				 <a class="menu" href="/social/inbox/">Messagerie</a>
				 <span> | </span>
				 <a class="menu" href="/social/<%=current_user.id%>/bookmarks/">Favoris (0)</a>
			 </div>
			 <div class="sep2"></div>
			 <div class="ssmenu left">
				 <a href="/social/<%=current_user.id%>/comments/">Commentaires (<%=current_user.touscommentaireslength%>)</a>
			 </div>
			 <div class="ssmenu right">
				 <a href="/social/<%=current_user.id%>/" class="selected">Liste</a>
				 <span> | </span>
				 <a href="/social/<%=current_user.id%>/?show=m" >Mosaique</a>
			 </div>
			 <div class="clear"></div>
			 </div>
			 <div class="bloc">
                         <%if @news.length > 0%>
				<%@news.each do |date,item|%>
				 <%=render "newsdate#{params[:show]}", date: date%>
			 <%item.each do |mypartial,itemname,item| %>
                        <%=render mypartial+"#{params[:show]}", :"#{itemname}" => item%> 
                        <%end%>
                    <%end%>
                    <%else%>
                        Aucune activité trouvée.
                    <%end%>
		 </div>
			 </div>
			 <div class="clear"></div>
			 </div>
		 </div>
			 </div>
	 </div>
</div>
<div class="ecart_colfull"><hr /></div>
</div>
</div>

<%=content_for :overlay do%>
<div class="overlay" id="overlay" style="visibility: visible; z-index: 1000; width: 400px; height: 250px; background-image: url(&quot;/_images/icones/ibox_loading.png&quot;); background-repeat: no-repeat; background-position: center center; top: 15px; left: 288px; position: fixed; display: none;"><span id="ibox_close_perso" class="close" style="display: none;"></span><img id="ibox_close" class="close" src="/_images/icones/ibox_close.png" style="display: none;"><div class="contentWrap" style="visibility: visible;"><img src="" alt="" width="144" height="205" onclick="hideIbox()"></div></div>
<div id="overlay-opacity"></div>
<a rel="#overlay"></a>
<div   onclick="$(overlay).toggle();$(exposeMask).toggle();return false;" id="exposeMask" style="position: absolute; top: 0px; left: 0px; width: 1090px; height: 1441px; display: none; opacity: 0; z-index: 9998; background-color: rgb(0, 0, 0);"></div>
<%end%>
<%=content_for :mapgoogle do%>
<script src="/js/compress_jquery.ibox.js"></script>
<script src="/js/jquery.tools-1.2.7.min.js?v=1383207878" type="text/javascript"></script>

<%end%>
<%=content_for :myglider do%>
if ($('#my-glider5601812').length) var my_glider5601812 = $('#my-glider5601812 div.content').bxSlider({pager: false,controls: false});

<%end%>