<div id="z_colfull">
<div class="z_colfull_inner">
<div id="breads" class="breadcrump breadcrumbs">
	 <a href="/">Accueil</a>
	 <span class="sepbread">&nbsp;&gt;&nbsp;</span>
	 <a href="/social/">Réseau social</a>
	 <div class="clear separate"><hr /></div>
</div>
 <div id="mod_5601793" class="mod_5601793 wm-module fullbackground  module-page2_social">
	 <div class="cel1" style="position:static">
			 <div class="tabs">
				 <ul>
					 <li id="li_wall" class="selected"><a href="/social/">Activités</a></li>
					 <li id="li_membre"><a href="/social/list/">Membres</a></li>
					 <li id="li_profil"><a href="javascript:void(0)" onclick="showIbox('/index.php?preaction=ajax&amp;action=restriction&amp;iboxaction=login&amp;CUSTOM=profil')">Mon profil</a></li>
					 <li class="li_search" style="float:right;margin:0;padding:0">
						 <form action="/social/list/?order=" method="get" onsubmit="document.getElementById('snskey_safe_5601793').focus();this.removeChild(document.getElementById('snskey_safe_5601793'))">
							 <input type="text" class="button search" style="" id="snskey_safe_5601793" name="snskey_safe_5601793" value="" onfocus="this.style.display='none'; document.getElementById('snskey_5601793').style.display='inline'; document.getElementById('snskey_5601793').focus()" />
							 <input type="text" class="button search" style="display:none" id="snskey_5601793" name="snskey" value="" onblur="if (this.value == '') {this.style.display='none'; document.getElementById('snskey_safe_5601793').style.display='inline';}" />
							 <input type="image" src="/_images/icones/ok_5.png?v=1213798463" alt="OK" title="OK" />
						 </form>
					 </li>
				 </ul>
				 <div class="clear"></div>
			 </div>
			 <div class="view-activite">
		 <div class="inner_tabs" >
			 <div class="bloc_bottom">
			 <div class="titre"><a href="/social/">Activité générale</a></div>
			 <div class="ssmenu left">
				 <a href="/social/wall/comments/">Commentaires (538)</a>
<span> | </span>				 <a href="/social/wall/forum/">Forum (<%=(@user||current_user).nbunreadforums%>)</a>
<span> | </span>				 <a href="/social/wall/classifieds/">Petites annonces (<%=User.petitesannonceslength%>)</a>
			 </div>
			 <div class="ssmenu right">
				 <a href="/social/" class="selected">Liste</a>
				 <span> | </span>
				 <a href="/social/?show=m" >Mosaique</a>
			 </div>
			 <div class="break"></div>
			 </div>
			 <div class="bloc">
				 <div class="infos_generales" style="margin-top:0">Mercredi 9 Mars 2022</div>
				 <div class="sep"></div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 18:21 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/Qwant-Junior-Une-nouvelle-interface-pour-un-web-plus-securise_a5419.html?com#com_7927689">Qwant Junior: Une nouvelle interface pour un web plus sécurisé</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_1');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_1" class="texte fullactivity" style="display:none">Bonjour,<br /><br />Le site internet de Qwant Junior est : www.qwantjunior.com<br /><br />Merci à vous</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
				 <div class="infos_generales">Vendredi 4 Mars 2022</div>
				 <div class="sep"></div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 08:50 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/La-serie-indienne-Le-combat-pour-l-amour-arrive-des-le-27-fevrier-sur-Antenne-Reunion_a8969.html?com#com_7922355">La série indienne "Le combat pour l'amour" arrive dés le 27 février sur Antenne Réunion</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_2');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_2" class="texte fullactivity" style="display:none">Bonjour,<br /><br />Vous pouvez regarder la série sur Antenne Réunion et en Replay sur le site de la chaîne : www.antennereunion.fr<br /><br />Bien à vous</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
				 <div class="infos_generales">Mardi 1 Mars 2022</div>
				 <div class="sep"></div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 13:00 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/La-Box-4G-de-SFR-Caraibe-labellisee-Cohesion-Numerique-des-Territoires_a5222.html?com#com_7919235">La Box 4G de SFR Caraïbe labellisée « Cohésion Numérique des Territoires »</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_3');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_3" class="texte fullactivity" style="display:none">Bonjour,<br />Vous pouvez tester votre éligibilité à cette offre en cliquant à l'adresse suivante : https://www.sfrcaraibe.fr/gpe/offres-box/box-4g/<br /><br />Merci de votre commentaire</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
				 <div class="infos_generales">Mardi 11 Janvier 2022</div>
				 <div class="sep"></div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 07:50 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/Arret-des-chaines-Discovery-dans-les-Offres-Canal-en-Outre-Mer_a8740.html?com#com_7863287">Arrêt des chaînes Discovery dans les Offres Canal+ en Outre-Mer</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_4');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_4" class="texte fullactivity" style="display:none">Bonjour<br /><br />Suite à la fin du contrat de distribution de ces chaînes, Canal+ n'est plus en mesure de proposer ces chaînes.</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
				 <div class="infos_generales">Jeudi 30 Décembre 2021</div>
				 <div class="sep"></div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 07:59 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/Coup-de-projecteur-sur-la-chaine-Ludikids-la-chaine-des-tout-petits-du-groupe-Canal_a6124.html?com#com_7848548">Coup de projecteur sur la chaîne Ludikids, la chaîne des tout-petits du groupe Canal+</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_5');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_5" class="texte fullactivity" style="display:none">Bonjour,<br /><br />La chaîne LUDIKIDS est disponible uniquement dans les Offres Canal+ en Outre-Mer et en Afrique.</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
				 <div class="infos_generales">Mardi 14 Décembre 2021</div>
				 <div class="sep"></div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 09:52 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/Plus-de-30-chaines-offertes-pendant-les-fetes-de-Noel-avec-le-bouquet-TV-Box-divertissement-de-Bouygues-Telecom_a8672.html?com#com_7829217">Plus de 30 chaînes offertes pendant les fêtes de Noël avec le bouquet TV Box divertissement de Bouygues Telecom</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_6');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_6" class="texte fullactivity" style="display:none">Salut !<br />En effet, elle n'est pas présente en Outre-Mer <br /><br />Mais cette information est incluse dans la rubrique &quot;Nationale&quot;</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
				 <div class="infos_generales">Mardi 28 Septembre 2021</div>
				 <div class="sep"></div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 10:23 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/Programmation-speciale-La-Pat-Patrouille-des-aujourd-hui-sur-Nickelodeon-Junior_a7884.html?com#com_7731731">Programmation spéciale "La Pat' Patrouille" dés aujourd'hui sur Nickelodeon Junior</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_7');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_7" class="texte fullactivity" style="display:none">Bonjour Léa,<br /><br />Malheureusement le concours est terminé, il n'y a plus de possibilités de s'inscrire.<br /><br />Néanmoins, s'il y'a d'autres concours, on hésitera pas à communiquer dessus.<br /><br />Belle journée à toi</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
				 <div class="infos_generales">Mardi 21 Septembre 2021</div>
				 <div class="sep"></div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 13:33 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/Nouvelle-Box-Repeteur-Wifi-6-CanalBox-Reunion-passe-a-la-vitesse-superieure_a7599.html?com#com_7725379">Nouvelle Box, Répéteur Wifi 6...: CanalBox Réunion passe à la vitesse supérieure</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_8');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_8" class="texte fullactivity" style="display:none">Bonjour,<br /><br />À son lancement, la nouvelle box CanalBox est réservée uniquement pour les nouveaux clients.<br /><br />Néanmoins, vous pouvez essayer de demander la nouvelle box auprès du service client CanalBox.</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
				 <div class="infos_generales">Samedi 28 Août 2021</div>
				 <div class="sep"></div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 09:30 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/Martinique-Montee-en-debit-ADSL-aux-Anses-d-Arlet-et-aux-Trois-Ilets_a7862.html?com#com_7703138">Martinique: Montée en débit ADSL aux Anses d’Arlet et aux Trois-Ilets</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_9');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_9" class="texte fullactivity" style="display:none">Bonjour,<br /><br />Pas de date précise à vous communiquer pour le moment.<br /><br />Toutefois, sachez que la première commercialisation du réseau d’initiative publique de la CTM aura lieu en septembre 2021 et concernera la commune des Anses d’Arlet. D’ici 2024 toute la Martinique devrait être connectée à la fibre optique. </div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
				 <div class="infos_generales">Vendredi 6 Août 2021</div>
				 <div class="sep"></div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 11:46 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/Arret-de-diffusion-des-chaines-RMC-SPORT-dans-les-offres-Canal_a8033.html?com#com_7680804">Arrêt de diffusion des chaînes RMC SPORT dans les offres Canal+</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_10');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_10" class="texte fullactivity" style="display:none">Bonjour,<br /><br />Vous pourrez résilier votre abonnement lors de votre date anniversaire (fin de contrat) avec l'opérateur.<br /><br />La souscription avec TVCaraïbes pourra être faite dés la résiliation effectuée.</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
				 <div class="infos_generales">Mardi 13 Juillet 2021</div>
				 <div class="sep"></div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 10:41 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/FitWin-une-application-mobile-de-fitness-pas-comme-les-autres_a7387.html?com#com_7659795">FitWin : une application mobile de fitness pas comme les autres</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_11');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_11" class="texte fullactivity" style="display:none">Bonjour,<br /><br />Pour plus d'information il faudrait contacter le support client FITWIN.<br /><br />Néanmoins la somme de 75€ qui vous a été prélevée devrait correspondre au prix de l'abonnement trimestriel souscrite.</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 10:38 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/Free-lance-l-offre-Free-Flex-une-nouvelle-facon-de-s-offrir-son-mobile_a7915.html?com#com_7659792">Free lance l'offre Free Flex, une nouvelle façon de s’offrir son mobile</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_12');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_12" class="texte fullactivity" style="display:none">Salut Thierry !<br /><br />Ce n'est pas prévue dans l'immédiat du côté de Free Mobile Réunion</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
				 <div class="infos_generales">Lundi 3 Mai 2021</div>
				 <div class="sep"></div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 12:49 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/Nouvelle-Box-Repeteur-Wifi-6-CanalBox-Reunion-passe-a-la-vitesse-superieure_a7599.html?com#com_7591277">Nouvelle Box, Répéteur Wifi 6...: CanalBox Réunion passe à la vitesse supérieure</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_13');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_13" class="texte fullactivity" style="display:none">Bonjour,<br /><br />La nouvelle box CanalBox est réservée au lancement pour les nouveaux abonnés.<br /><br />Elle sera proposée aux autres clients plus tard dans le courant de l'année. Pas de date précise à vous communiquer pour le moment.</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
				 <div class="infos_generales">Mercredi 24 Mars 2021</div>
				 <div class="sep"></div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 04:44 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/La-minute-bricolage--le-nouveau-programme-court-de-M6_a2529.html?com#com_7548530">"La minute bricolage", le nouveau programme-court de M6</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_14');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_14" class="texte fullactivity" style="display:none">Bonjour,<br /><br />Vous avez tout à fait raison à ce sujet </div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
				 <div class="infos_generales">Jeudi 25 Février 2021</div>
				 <div class="sep"></div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 18:26 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/MY-HERO-ACADEMIA-La-saison-4-inedite-en-France-sur-Toonami-a-partir-du-1er-mars_a7319.html?com#com_7517783">MY HERO ACADEMIA: La saison 4 inédite en France sur Toonami à partir du 1er mars</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_15');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_15" class="texte fullactivity" style="display:none">Si vous êtes abonné à Toonami, vous aurez accès aux nouveaux épisodes inédits de MY HERO ACADEMIA.</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
				 <div class="infos_generales">Jeudi 11 Février 2021</div>
				 <div class="sep"></div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 19:38 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/Lancement-le-4-fevrier-de-TV-CARAIBES-le-nouveau-bouquet-TV-par-satellite-aux-Antilles-Guyane_a7310.html?com#com_7500312">Lancement le 4 février de TV CARAIBES, le nouveau bouquet TV par satellite aux Antilles-Guyane</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_16');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_16" class="texte fullactivity" style="display:none">Bonjour,<br /><br />Pour contacter le service client TV CARAIBES, voici le numéro de téléphone: <br />0 808 805 805</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
				 <div class="infos_generales">Samedi 6 Février 2021</div>
				 <div class="sep"></div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 07:16 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/Lancement-le-4-fevrier-de-TV-CARAIBES-le-nouveau-bouquet-TV-par-satellite-aux-Antilles-Guyane_a7310.html?com#com_7490320">Lancement le 4 février de TV CARAIBES, le nouveau bouquet TV par satellite aux Antilles-Guyane</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_17');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_17" class="texte fullactivity" style="display:none">Bonjour,<br /><br />Pour s'abonner en ligne à TV CARAIBES, rendez-vous sur www.tvcaraibes.tv rubrique &quot;S'abonner en ligne&quot;.<br /><br />En ce qui concerne la Champion's League, cette saison, elle sera diffusée sur les chaînes RMC Sport qui ne sont pas disponible dans l'offre TV CARAIBES.</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
				 <div class="infos_generales">Vendredi 5 Février 2021</div>
				 <div class="sep"></div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 13:46 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/Lancement-le-4-fevrier-de-TV-CARAIBES-le-nouveau-bouquet-TV-par-satellite-aux-Antilles-Guyane_a7310.html?com#com_7489621">Lancement le 4 février de TV CARAIBES, le nouveau bouquet TV par satellite aux Antilles-Guyane</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_18');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_18" class="texte fullactivity" style="display:none">Bonjour,<br /><br />Pour s'abonner au bouquet TV CARAIBES rendez-vous à l'adresse suivante: https://www.tvcaraibes.tv/gp/choix-de-l-offre-tv-caraibes<br /><br />Si vous avez des questions, n'hésitez pas à nous contacter<br /><br />Bien à vous</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 11:07 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/Lancement-le-4-fevrier-de-TV-CARAIBES-le-nouveau-bouquet-TV-par-satellite-aux-Antilles-Guyane_a7310.html?com#com_7489439">Lancement le 4 février de TV CARAIBES, le nouveau bouquet TV par satellite aux Antilles-Guyane</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_19');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_19" class="texte fullactivity" style="display:none">Bonjour à tous,<br /><br />Pour vous abonner aux offres TV par satellite TV CARAIBES, rendez-vous sur www.tvcaraibes.tv et le tour est joué.<br /><br />Ou par téléphone au 0 808 805 805 (ouvert 7 jours/7 et 24 h/24).</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 11:03 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/Espaces-partenaires_a6606.html?com#com_7489433">Espaces partenaires</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_20');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_20" class="texte fullactivity" style="display:none">Bonjour,<br /><br />En quoi pouvons-nous vous aider svp ?</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
				 <div class="infos_generales">Mercredi 3 Février 2021</div>
				 <div class="sep"></div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 20:22 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/Lancement-le-4-fevrier-de-TV-CARAIBES-le-nouveau-bouquet-TV-par-satellite-aux-Antilles-Guyane_a7310.html?com#com_7487567">Lancement le 4 février de TV CARAIBES, le nouveau bouquet TV par satellite aux Antilles-Guyane</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_21');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_21" class="texte fullactivity" style="display:none">Bonjour à tous,<br /><br />L'offre TV par satellite TV Caraïbes comprend que la Télévision, pas d'internet au programme.<br /><br />La parabole est indispensable pour la bonne réception des chaînes.<br /><br />Les chaînes sports proposées par TV CARAÏBES sont: beIN Sports 1, beIN Sports 2, beIN Sports 3, beIN Sports Max 4, ESPN, ESPN 2, GOLF+, en option.<br /><br />Mais aussi: Automoto la chaîne, Eurosport 1, Eurosport 2</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
				 <div class="infos_generales">Mardi 2 Février 2021</div>
				 <div class="sep"></div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 18:56 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/Lancement-le-4-fevrier-de-TV-CARAIBES-le-nouveau-bouquet-TV-par-satellite-aux-Antilles-Guyane_a7310.html?com#com_7486332">Lancement le 4 février de TV CARAIBES, le nouveau bouquet TV par satellite aux Antilles-Guyane</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_22');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_22" class="texte fullactivity" style="display:none">TV Caraïbes est une nouvelle offre TV par satellite de Canal+ en partenariat avec la société Transat.<br /><br />L'offre comprend plus de 60 chaînes essentielles soit les chaînes les plus regardées des offres Canal+.<br /><br />Elle peut être renchérit avec des chaînes optionnelles dans tous les domaines.<br /><br />L'offre est à 15€/mois comprenant le décodeur, la carte et la parabole.<br /><br />Si vous voulez plus d'information, on est à votre disposition</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
				 <div class="infos_generales">Vendredi 29 Janvier 2021</div>
				 <div class="sep"></div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 14:24 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/STARZPLAY-debarque-des-le-3-fevrier-dans-les-Offres-Canal_a7288.html?com#com_7481961">STARZPLAY débarque dés le 3 février dans les Offres Canal+</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_23');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_23" class="texte fullactivity" style="display:none">Bonjour Charles<br /><br />Les abonnés aux Offres Canal+ Réunion auront aussi accès à STARZPLAY.<br /><br />Bien à vous</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
			 <div class="item">
				 <div class="avatar photo"><a href="/social/1731433/"><img src="/photo/prof_personne-min-moy-1731433.jpg?v=1646847691" width="48" height="48" alt="Megazap MÉDIAS" title="Megazap MÉDIAS" /></a></div>
				 <div class="legende">
					 <div class="auteur_date">
						 <span class="auteur_date"> 10:28 | <a class="lien" href="/social/1731433/">Megazap MÉDIAS</a> a commenté l'article </span>
						 <a class="lien" href="/STARZPLAY-debarque-des-le-3-fevrier-dans-les-Offres-Canal_a7288.html?com#com_7481759">STARZPLAY débarque dés le 3 février dans les Offres Canal+</a>
							 <div class="sep2"></div>
							 <div class="auteur_date">
								 <a href="javascript:void(0)" onclick="view_full(this, 'fullactivity_24');"><img src="/_images/icones/bulle_com.png" alt="" class="left" style="margin-right:5px" /><span>Plus de détails</span></a>
							 </div>
						 <div id="fullactivity_24" class="texte fullactivity" style="display:none">Bonjour,<br /><br />STARZPLAY sera disponible dans les différentes Offres Canal+. Normalement, ce serait le cas pour la Suisse.</div>
					 </div>
				 </div>
				 <div class="clear"></div>
			 </div>
			 <div class="right">		 
                        <%=render "mypager", list: @mynews%>
</div>
			 <div class="break"></div>
		 </div>
		 </div>
			 </div>
	 </div>
</div>
<div class="ecart_colfull"><hr /></div>
</div>
</div>

<%=content_for :overlay do%>
<div class="overlay" id="overlay" style="visibility: visible; z-index: 1000; width: 400px; height: 250px; background-image: url(&quot;/_images/icones/ibox_loading.png&quot;); background-repeat: no-repeat; background-position: center center; top: 15px; left: 288px; position: fixed; display: none;"><span id="ibox_close_perso" class="close" style="display: none;"></span><img id="ibox_close" class="close" src="/_images/icones/ibox_close.png" style="display: none;"><div class="contentWrap" style="visibility: visible;"><img src="" alt="" width="144" height="205" onclick="hideIbox()"></div></div>
<div id="overlay-opacity"></div>
<a rel="#overlay"></a>
<div   onclick="$(overlay).toggle();$(exposeMask).toggle();return false;" id="exposeMask" style="position: absolute; top: 0px; left: 0px; width: 1090px; height: 1441px; display: none; opacity: 0; z-index: 9998; background-color: rgb(0, 0, 0);"></div>
<%end%>

<%=content_for :mapgoogle do%>
<script src="/js/compress_jquery.ibox.js"></script>
<script src="/js/jquery.tools-1.2.7.min.js?v=1383207878" type="text/javascript"></script>

<%end%>
<%=content_for :myglider do%>
if ($('#my-glider5601812').length) var my_glider5601812 = $('#my-glider5601812 div.content').bxSlider({pager: false,controls: false});

<%end%>